.card {
    height: 560px;
    width: 500px;
    background-color: #feffd2;
    border: 1px solid black;
    border-radius: 10%;
    margin:2% 50% 0 30%;
    padding: 10px;
  box-shadow: 5px 10px rgba(136, 136, 136, 0.5);
  display: flex;
  flex-direction: column;
}
.container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h3{
    margin-top: 45px;
}

.form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }

  
  .form .group label {
    font-size: 18px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 95%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #000000;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #FEFFD1;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form {
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
  
.ajust-padding {
    padding: 50px;
}
.button {
    background: #FBCA1F;
    padding: 0.6em 1.3em;
    margin:10px 15px 0 0;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid rgb0(0, 0, 0) !important;
  border-radius: 0.4em;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.button:hover {
    cursor: pointer;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.17em 0.17em rgba(0, 0, 0, 0.2);
}
.button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.07em 0.07em rgba(0, 0, 0, 0.2);
  }


.text {
    margin-right: 5px;
}